@import '../../styles/variables';

.pagination {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;

  &Btn {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    border: none;

    svg {
      fill: $orange;
    }
  }

  &Prev {
    transform: rotate(180deg);
  }

  &List {
    display: flex;
    gap: 22px;
  }

  &Item {
    position: relative;
    font-size: 14px;
    font-weight: 500;

    &.active::before {
      content: '';

      position: absolute;
      top: -8px;
      left: -15px;

      width: 35px;
      height: 35px;

      background: $orange-gradient;
      border-radius: 50%;
    }
  }
}
