@import '../../styles/variables';

.catalogPage {
  display: grid;
  grid-template-areas:
    'route route route'
    'title title sort'
    'tabs tabs tabs'
    'filters cardList cardList'
    'links cardList cardList'
    'links pagination pagination'
    'links description description';
  grid-template-columns: 238px 1fr auto;
  grid-template-rows: repeat(4, min-content) 1fr;
  gap: 20px 50px;

  &Route {
    grid-area: route;
    justify-self: start;
  }

  &Title {
    grid-area: title;
    justify-self: start;
  }

  &Sort {
    grid-area: sort;
    align-self: end;
    justify-content: end;
  }

  &Tabs {
    grid-area: tabs;
    margin-top: 5px;
  }

  &CardList {
    grid-area: cardList;
    margin-top: 10px;
  }

  &Filters {
    grid-area: filters;
    align-self: start;
    margin-top: 30px;
  }

  &Links {
    grid-area: links;
    margin-top: 20px;
  }

  &Pagination {
    grid-area: pagination;
    margin-top: 50px;
  }

  &Description {
    grid-area: description;
    max-width: 90%;
    margin-top: 68px;
    font-size: 14px;
  }
}

@media (max-width: $l) {
  .catalogPage {
    grid-template-areas:
      'route route route'
      'title title title'
      '. filters .'
      'tabs tabs tabs'
      '. sort sort'
      'cardList cardList cardList'
      'pagination pagination pagination'
      'description description description';
    grid-template-columns: 1fr 300px 1fr;

    & &Links {
      display: none;
    }
  }
}

@media (max-width: $m) {
  .catalogPage {
    grid-template-areas:
      'route route route'
      'title title title'
      '. filters .'
      '. links .'
      '. sort sort'
      'cardList cardList cardList'
      'pagination pagination pagination'
      'description description description';

    &Filters {
      justify-self: unset;
    }

    & &Links {
      display: flex;
    }

    & &Tabs {
      display: none;
    }
  }
}

@media (max-width: $s) {
  .catalogPage {
    grid-template-areas:
      '. route .'
      '. title .'
      '. filters .'
      '. links .'
      '. sort .'
      'cardList cardList cardList'
      'pagination pagination pagination'
      'description description description';
    grid-template-columns: 1fr $min-card-width 1fr;
    column-gap: 0;

    &Pagination {
      margin-top: 45px;
    }

    &Description {
      margin-top: 35px;
    }
  }
}
