@import '../../styles/variables';

.catalogPage {
  display: grid;
  grid-template-columns: 238px 1fr auto;
  gap: 20px 30px;
  grid-template-areas:
    'route route route'
    'title title sort'
    'tabs tabs tabs'
    'filters cardList cardList'
    'buttons cardList cardList'
    'links cardList cardList';
  grid-template-rows: repeat(5, min-content) 1fr;

  &Route {
    grid-area: route;
    justify-self: start;
  }

  &Title {
    justify-self: start;
    grid-area: title;
  }

  &Sort {
    grid-area: sort;
    align-self: end;
    justify-content: end;
  }

  &Tabs {
    margin-top: 5px;
    grid-area: tabs;
  }

  &CardList {
    margin-top: 10px;
    grid-area: cardList;
  }

  &Filters {
    margin-top: 30px;
    grid-area: filters;
    align-self: start;
  }

  &Links {
    margin-top: 20px;
    grid-area: links;
  }
}

@media (max-width: $l) {
  .catalogPage {
    grid-template-columns: 240px 1fr;
    grid-template-areas:
      'route route'
      'title title'
      'filters links'
      'sort sort'
      'cardList cardList';
    // justify-items: center;

    & &Links {
      display: none;
    }
    & &Tabs {
      display: none;
    }
  }
}
