.cartWrapper {
	display: flex;
	gap: 28px;
	align-items: center;
}

.cartImg {
	position: relative;
}

.cartBadge {
	position: absolute;
	top: -10px;
	right: -15px;

	display: flex;
	align-items: center;
	justify-content: center;

	box-sizing: content-box;
	width: 22px;
	height: 22px;

	font-size: 14px;
	font-weight: 700;
	color: var(--white);

	background: var(--orange);
	border: 3px solid var(--white);
	border-radius: 50%;
}

.cartInfo {
	font-size: 12px;
	font-weight: 300;
	line-height: 1.5;
}

.cartPrice {
	display: block;

	font-size: 14px;
	font-weight: 600;
	color: var(--black);
	white-space: nowrap;
}
