@import '../../styles/variables';

.pageRoute {
  display: flex;
  margin-top: 45px;

  & > * {
    padding-right: 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;

    &:not(:first-child) {
      padding-left: 10px;
      border-left: 1px dashed $gray-dark;
    }

    &:last-child {
      opacity: 0.5;
    }
  }
}
