@import '../../styles/variables';

.input {
  position: relative;

  display: flex;

  padding: 21px 30px 21px 20px;

  background: $gray;
  border-radius: 36px;

  &Field {
    font-size: 12px;
    background: transparent;
    border: none;
    outline: none;

    &::placeholder {
      opacity: 0.6;
    }
  }

  &Button {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);

    padding: 10px;

    background: $orange;
    border: none;
    border-radius: 50%;
  }

  &Icon {
    width: 18px;
    height: 18px;
  }
}
