@import '../../styles/variables';

.productQuantity {
  display: flex;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 500;
  align-items: center;
  gap: 20px;

  &Btn {
    font-size: 12px;
    line-height: 15px;
    padding: 4px 13px;
    background: $orange-gradient;
    border-radius: 100px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
