@import '../../styles/variables';

.button {
  cursor: pointer;

  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  padding: 20px 50px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  color: $white;
  white-space: nowrap;

  background: $orange;
  border: none;
  border-radius: 79px;

  & svg {
    width: 15px;
    height: 15px;
  }

  &Transparent {
    gap: 10px;
    font-size: 16px;
    line-height: 1;
    color: unset;
    background: transparent;

    & svg {
      order: -1;
      width: 20px;
      height: 20px;

      & path {
        stroke: $gray-dark;
      }
    }
  }

  &Small {
    font-size: 10px;
    letter-spacing: 0.15em;
    padding: 16px 25px;
  }

  &Round {
    padding: 20px;
  }
}

@media (max-width: $s) {
  .button {
    &Transparent {
      font-size: 14px;
      gap: 6px;
      padding: 16px;

      & svg {
        width: 15px;
        height: 15px;
      }
    }
  }
}
