.wrapper {
	display: grid;
	grid-template-areas:
		"phone"
		"time"
		"order";
	/* grid-template-columns: auto; */
	text-align: right;
	grid-template-rows: 1fr min-content 1fr;
	gap: 5px 10px;
}

.wrapperWithImage {
	grid-template-areas:
		"phone img"
		"time img"
		"order img";
	grid-template-columns: auto 74px;
}

.white {
	color: var(--white);
}

.left {
	text-align: left;
}

.phone {
	grid-area: phone;
	align-self: end;

	font-size: 14px;
	font-weight: 600;
	line-height: 1.5;
	color: var(--black);
	
	white-space: nowrap;
}

.white .phone {
	color: var(--white);
}

.time {
	grid-area: time;
	align-self: center;

	font-size: 12px;
	font-weight: 300;
	line-height: 1.5;
}

.time span {
	white-space: nowrap;
}

.order {
	cursor: pointer;

	grid-area: order;
	align-self: start;

	padding: 0;

	font-size: 10px;
	font-weight: 400;
	line-height: 1.5;
	text-decoration: underline;
	text-align: inherit;
	color: inherit;

	background: transparent;
	border: none;
}

.img {
	position: relative;
	display: block;
	grid-area: img;
}

.online::before {
	content: '';

	position: absolute;
	top: 20px;
	right: 5px;

	display: block;

	box-sizing: content-box;
	width: 8px;
	height: 8px;

	background-color: var(--green);
	border: 2px solid var(--gray);
	border-radius: 50%;
}
