@import '../../styles/variables';

.goodsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($min-card-width, 1fr));
  gap: 21px;
  justify-content: end;
}

@media (max-width: $s) {
  .goodsList {
    justify-items: center;
  }
}
