.headerMain {
	display: grid;
	grid-template-columns: repeat(8, auto);
	align-items: center;
	justify-content: stretch;
	gap: 15px;
	padding-block: 12px;
}

.divider {
	height: 50px;
}

/* .block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.blockOne {
	gap: 15px;
}

.blockTwo {
	gap: 24px;
	justify-content: space-between;
} */

.catalogBtn {
	margin-left: 15px;
}

.input {
	/* flex-grow: 1; */
	min-width: 220px;
}

@media (max-width: 1320px) {
	.headerMain {
		/* grid-template-columns: 1fr; */
		grid-template-columns: repeat(6, auto);
	}

	.input {
		flex-grow: unset;
	}
}

@media (max-width: 1100px) {
	.headerMain {
		/* grid-template-columns: 1fr; */
		grid-template-columns: repeat(5, auto);
		position: sticky;
		background-color: var(--white);
		z-index: 15;
	}

	.headerMenuBtn {
		height: 58px;
		width: 58px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius:50%;
		background: var(--orange);
		border: none;
		position: relative;
	}

	.headerMenuBtn svg {
		height: 24px;
		width: 24px;
	}	
}