$font-family: 'Inter', sans-serif;

// colors
$orange: #ffc650;
$orange-gradient: linear-gradient(
  90deg,
  rgb(255 198 80 / 30%) 0%,
  rgb(254 202 110 / 30%) 97.25%
);
$gray: #ededed;
$white: #fff;
$gray-dark: #3f4e65;
$black: #111;
$green: #1fd85d;

// sizes
$xl: 1320px;
$l: 1100px;
$m: 820px;
$s: 640px;
$min-card-width: 272px;
