html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  background: #f9f8ff;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

:root {
  --font-family: 'Inter', sans-serif;
}
