@import '../../styles/variables';

.cartPage {
  &Title {
    margin-bottom: 50px;
  }
  &Order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 71px;
  }
}
