@import '../../styles/variables';

.fieldFilter {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &Expand {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    &.expanded svg {
      transform: rotate(180deg);
    }
  }
}
