@import '../../styles/variables';

.fieldFilterItem {
  display: flex;
  align-items: baseline;

  &:not(:first-child) {
    margin-top: 5px;
  }

  &Checkbox {
    display: none;

    & + label {
      position: relative;
      display: block;
      height: 10px;
      width: 10px;
      border: 0.5px solid $gray-dark;
      border-radius: 1px;
    }
    &:checked + label {
      &::before {
        content: '';
        position: absolute;
        height: 2px;
        width: 12px;
        background-color: $orange;
        top: 20%;
        right: -40%;
        transform: rotate(-50deg);
        border-radius: 5px;
      }
      &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 8px;
        background-color: $orange;
        top: 35%;
        right: 40%;
        transform: rotate(50deg);
        border-radius: 5px;
      }
    }
  }

  &Title {
    margin-left: 10px;
    font-size: 14px;
  }

  &Quantity {
    margin-left: 5px;
    font-size: 10px;
  }
}
