@import '../../styles/variables';

.goodsCardElem {
  margin-top: 5px;
  font-size: 14px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &Title {
    font-weight: 300;
    margin-right: 5px;
    &::after {
      content: ':';
    }
  }

  &Value {
    font-weight: 500;
    color: $black;
  }
}
