@import '../../styles/variables';

.goodsCardElem {
  overflow: hidden;

  margin-top: 5px;

  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;

  &Title {
    margin-right: 5px;
    font-weight: 300;

    &::after {
      content: ':';
    }
  }

  &Value {
    font-weight: 500;
    color: $black;
  }
}
