@import '../../styles/variables';

.brandFilter {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;

  &Expand {
    cursor: pointer;

    display: flex;
    gap: 5px;
    align-items: center;

    font-size: 12px;
    font-weight: 500;

    &.expanded svg {
      transform: rotate(180deg);
    }
  }
}
