@import '../styles/variables';

.layout {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  min-height: 100vh;

  &Header {
    grid-area: header;
  }

  &Footer {
    grid-area: footer;
    align-self: end;
    margin-top: 100px;
  }
}

@media (max-width: $s) {
  .layout {
    &Footer {
      margin-top: 50px;
    }
  }
}
